# Local MongoDB replica set. Replace with a MongoDB Atlas URI in deployment.
DATABASE_URL=""

# Generate with: openssl rand -base64 32
SESSION_SECRET="replace-with-at-least-32-random-characters"

# Set to production on the deployed environment.
NODE_ENV="development"
